/* Header styles */
.header {
  background-color: white;
  position: relative;
}

.headerText {
  position: absolute;
  top: 10%;
  left: 76%;
  color: orange;
}

/* Block styles */
.block {
  background-color: red;
  width: 50%;
  height: 50%;
  position: absolute;
}

.endBlock {
  background-color: red;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  width: 5%;
  height: 50%;
  position: absolute;
  right: 5%;
  top: 10%;
}

/* Nav styles */
nav {
  background-color: white;
  position: absolute;
  left: 2%;
  top: 17%;
  width: 10%;
  height: 70%;
}

.navBlock {
  position: absolute;
  width: 100%;
  height: 15%;
}

/* Nav item styles */
.navItem {
  list-style-type: none;
  text-align: center;
  color: black;
}

#navBlockOne {
  left: 0%;
  top: 0%;
  background-color: blue;
}

#navBlockTwo {
  left: 0%;
  top: 17%;
  background-color: pink;
}

#navBlockThree {
  left: 0%;
  top: 34%;
  background-color: orange;
}

#navBlockFour {
  left: 0%;
  top: 51%;
  background-color: blue;
}

/* Main styles */
main {
  position: absolute;
  left: 15%;
  top: 25%;
  width: 65%;
  height: 50%;
}
